/* *{
    background-color: rgb(50, 245, 180);
}
.navbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1000px;
  display: block;
  display: flex;
  justify-content: space-between; */
  /* align-items: center; */
  /* padding: 15px 30px;
  border-radius: 15px;
  background: rgb(156, 237, 178);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.493);
  color: rgb(230, 143, 143);
  font-family: 'Segoe UI', sans-serif;
  z-index: 9;
  margin-top: 4px solid red;
}

.logo {
  background-color: black;  
  font-size: 1.5rem;
  font-weight: bold;
  padding: 7px;
  border-radius: 15px;
}

.login {
  cursor: pointer;
  font-size: 1rem;
  transition: opacity 0.3s ease pink;
  border-radius: 7px;
  background-color: black;  
  padding: 7px;
}

.login:hover {
  opacity: 0.8;
} */

.cont_fluid{
  background-color: chartreuse ;
  justify-content: center;
}

.cont{
  background-color: rgb(207, 204, 204);
}

.col{
  border: 1px solid black;
  padding: 8%;
}

