.admin-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 1rem 2rem;
}

.admin-nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.admin-nav-link:hover {
    color: #4fc3f7;
}
